{% extends "app/base.html" %}
{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h4 align="centre">European Brewery Systems</h4>
    <p align="centre">Welcome, Our site is still under construction!</p>
  </div>
{% endblock %}
