{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name="viewport">
	<meta content="Brewery Systems Portal" name="description">
	<meta content="Charles Sibbald" name="author">
	<meta content="React,React.js" name="keyword">
	<link rel="shortcut icon" href="/app/img/avatars/favicon.ico"/>
	<title>Brewery Systems Portal</title>
    <link rel="stylesheet" href="/app/index.fonts.css"/>
    <link rel="stylesheet" href="/app/index.styles.css"/>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
	<div id="root"></div>
	<script src="/app/index.bundle.js" type="text/javascript"></script>
</body>
</html>