@charset "UTF-8";
/* camera.scss
=========================================================*/
/*================   Custom Layout&Styles   =====================*/
.camera_pag_ul li.cameracurrent, .camera_pag_ul li:hover {
  background: #2e2e2e;
}

.camera_next,
.camera_prev {
  color: #000;
  background-color: #2196F3;
}
.camera_next:hover,
.camera_prev:hover {
  color: #2196F3;
  background-color: #000;
}

/* google-map.scss
=========================================================*/
/* mailform.scss
=========================================================*/
.mailform label {
  /**/
}
.mailform label:first-child {
  /**/
}

@-ms-keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
@-o-keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
@-webkit-keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
@-moz-keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
@keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
/* Mail Form PlaceHolder
========================================================*/
.mfPlaceHolder {
  font: inherit;
  cursor: text;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px 15px;
  line-height: 20px;
  color: #fff;
  opacity: 1;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
*:-webkit-autofill ~ .mfPlaceHolder {
  opacity: .4;
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.mfPlaceHolder.state-1 {
  opacity: .4;
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
@media (max-width: 1365px) {
  *:-webkit-autofill ~ .container > .mailform .mfPlaceHolder, *:-webkit-autofill ~ .grid_12 .mfPlaceHolder {
    opacity: .4;
    -moz-transform: translateY(-80%);
    -ms-transform: translateY(-80%);
    -o-transform: translateY(-80%);
    -webkit-transform: translateY(-80%);
    transform: translateY(-80%);
  }
  .container > .mailform .mfPlaceHolder.state-1, .grid_12 .mfPlaceHolder.state-1 {
    opacity: .4;
    -moz-transform: translateY(-80%);
    -ms-transform: translateY(-80%);
    -o-transform: translateY(-80%);
    -webkit-transform: translateY(-80%);
    transform: translateY(-80%);
  }
}
@media (max-width: 979px) {
  *:-webkit-autofill ~ .grid_10 .mfPlaceHolder {
    opacity: .4;
    -moz-transform: translateY(-80%);
    -ms-transform: translateY(-80%);
    -o-transform: translateY(-80%);
    -webkit-transform: translateY(-80%);
    transform: translateY(-80%);
  }
  .grid_10 .mfPlaceHolder.state-1 {
    opacity: .4;
    -moz-transform: translateY(-80%);
    -ms-transform: translateY(-80%);
    -o-transform: translateY(-80%);
    -webkit-transform: translateY(-80%);
    transform: translateY(-80%);
  }
}
@media (max-width: 767px) {
  *:-webkit-autofill ~ .mfPlaceHolder {
    opacity: .4;
    -moz-transform: translateY(-80%);
    -ms-transform: translateY(-80%);
    -o-transform: translateY(-80%);
    -webkit-transform: translateY(-80%);
    transform: translateY(-80%);
  }
  .mfPlaceHolder.state-1 {
    opacity: .4;
    -moz-transform: translateY(-80%);
    -ms-transform: translateY(-80%);
    -o-transform: translateY(-80%);
    -webkit-transform: translateY(-80%);
    transform: translateY(-80%);
  }
}

/* Mail Form Validation
  ========================================================*/
.mfValidation {
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 25px;
  left: 0;
  width: 210px;
  margin-top: -39px;
  margin-left: 10px;
  padding: 3px 10px;
  height: 26px;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  background: #111;
  color: #FFF;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  z-index: 998;
}
.mfValidation:hover {
  background: #222;
}
.mfValidation:before {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 40%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  /*@include triangle(bottom, 8px, 5px, #111);*/
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.mfValidation:hover:before {
  /*@include triangle(bottom, 5px, 8px, #222);*/
}
.mfValidation.show {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  -webkit-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -moz-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -ms-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -o-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}
.mfValidation.hide {
  -webkit-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -moz-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -ms-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -o-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}
.mfValidation.valid {
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 767px) {
  .mfValidation {
    text-align: right;
    top: auto;
    left: auto;
    bottom: 100%;
    right: 22px;
    top: -18px;
    background: none;
    padding: 0;
    margin: 0 0 3px;
    min-height: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .mfValidation:before {
    display: none;
  }
  .mfValidation:hover {
    background: none;
    right: 5px;
  }
}

@-ms-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@-o-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@-webkit-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@-moz-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@-ms-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* MF Controls
========================================================*/
.mfControls {
  margin-top: 19px;
  word-spacing: 10px;
  text-align: left;
}
@media (max-width: 1199px) {
  .mfControls {
    text-align: center;
  }
}
.mfControls .btn {
  margin-top: 0;
}
.mfControls > * {
  word-spacing: normal;
  margin-bottom: 5px;
}

/* Mail Form Submit
========================================================*/
.mfProgress {
  position: relative;
}
.mfProgress .cnt, .mfProgress .loader {
  -moz-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}
.mfProgress .loader {
  opacity: 0;
  text-align: center;
  letter-spacing: 10px;
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.mfProgress .loader, .mfProgress .loader:before, .mfProgress .loader:after {
  position: absolute;
  left: 0;
  bottom: 0;
  top: -2px;
  right: 0;
  margin: auto;
}
.mfProgress .loader:before {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
}
.mfProgress .loader:after {
  content: '';
  width: 30px;
  height: 30px;
  color: #fff;
  font: 400 30px "FontAwesome";
  line-height: inherit;
  -moz-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  -moz-transform: scale(0) rotate(-60deg);
  -ms-transform: scale(0) rotate(-60deg);
  -o-transform: scale(0) rotate(-60deg);
  -webkit-transform: scale(0) rotate(-60deg);
  transform: scale(0) rotate(-60deg);
}
.mfProgress.sending .cnt, .mfProgress.fail .cnt, .mfProgress.success .cnt {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.mfProgress.sending .loader, .mfProgress.fail .loader, .mfProgress.success .loader {
  opacity: 0;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.mfProgress.fail .loader:before, .mfProgress.success .loader:before {
  -webkit-animation: fout 0.4s ease-in-out 1 forwards;
  -moz-animation: fout 0.4s ease-in-out 1 forwards;
  -ms-animation: fout 0.4s ease-in-out 1 forwards;
  -o-animation: fout 0.4s ease-in-out 1 forwards;
  animation: fout 0.4s ease-in-out 1 forwards;
}
.mfProgress.fail .loader:after, .mfProgress.success .loader:after {
  -moz-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  -o-transform: scale(1) rotate(0deg);
  -webkit-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
}
.mfProgress.sending .loader:before {
  -webkit-animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  -moz-animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  -ms-animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  -o-animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
.mfProgress.fail .loader:after {
  content: '\f06a';
}
.mfProgress.success .loader:after {
  content: '\f058';
}

.mfProgress .msg {
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-animation: notifanim-fo 0.4s ease-in-out forwards;
  -moz-animation: notifanim-fo 0.4s ease-in-out forwards;
  -ms-animation: notifanim-fo 0.4s ease-in-out forwards;
  -o-animation: notifanim-fo 0.4s ease-in-out forwards;
  animation: notifanim-fo 0.4s ease-in-out forwards;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 5px;
  border-radius: 0;
  font-size: 13px;
  line-height: 20px;
  opacity: 0;
  visibility: hidden;
  top: 100%;
  left: 50%;
  width: 160px;
  margin-left: -80px;
  margin-top: 20px;
  color: #fff;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.mfProgress .msg:before {
  content: '';
  position: absolute;
  bottom: 100%;
  right: 50%;
  transform: translate(50%, 0%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #111 transparent;
  -moz-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}
.mfProgress.fail .msg, .mfProgress.success .msg {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  -webkit-animation: notifanim 0.4s ease-in-out forwards;
  -moz-animation: notifanim 0.4s ease-in-out forwards;
  -ms-animation: notifanim 0.4s ease-in-out forwards;
  -o-animation: notifanim 0.4s ease-in-out forwards;
  animation: notifanim 0.4s ease-in-out forwards;
}
.mfProgress.fail .msg {
  background: #F44336;
}
.mfProgress.fail .msg:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #F44336 transparent;
}
.mfProgress.success .msg {
  background: #2E7D32;
}
.mfProgress.success .msg:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #2E7D32 transparent;
}

@-ms-keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
@-o-keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
@-webkit-keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
@-moz-keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
@keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
/* Mail Form Icon
========================================================*/
.mfIcon {
  position: absolute;
  text-align: center;
  top: 12px;
  right: 10px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  color: #FFF;
  font: 400 20px/24px "material-design";
}
.mfIcon span:before, .mfIcon span:after {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -10px;
  margin-left: -10px;
  -moz-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.mfIcon span:before {
  content: "";
}
.mfIcon span:after {
  content: "";
  -moz-transform: scale(0) rotate(-180deg);
  -ms-transform: scale(0) rotate(-180deg);
  -o-transform: scale(0) rotate(-180deg);
  -webkit-transform: scale(0) rotate(-180deg);
  transform: scale(0) rotate(-180deg);
  -webkit-animation: zoom-out 0.4s ease-in-out 1 forwards;
  -moz-animation: zoom-out 0.4s ease-in-out 1 forwards;
  -ms-animation: zoom-out 0.4s ease-in-out 1 forwards;
  -o-animation: zoom-out 0.4s ease-in-out 1 forwards;
  animation: zoom-out 0.4s ease-in-out 1 forwards;
}

.mfIcon.state-1:after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 0;
  height: 1px;
  background: #fff;
  -webkit-animation: line 1.2s 0.4s infinite;
  -moz-animation: line 1.2s 0.4s infinite;
  -ms-animation: line 1.2s 0.4s infinite;
  -o-animation: line 1.2s 0.4s infinite;
  animation: line 1.2s 0.4s infinite;
}
.mfIcon.state-1 span:before {
  -moz-transform: scale(0) rotate(90deg);
  -ms-transform: scale(0) rotate(90deg);
  -o-transform: scale(0) rotate(90deg);
  -webkit-transform: scale(0) rotate(90deg);
  transform: scale(0) rotate(90deg);
}
.mfIcon.state-1 span:after {
  -moz-transform: scale(1) rotate(-35deg);
  -ms-transform: scale(1) rotate(-35deg);
  -o-transform: scale(1) rotate(-35deg);
  -webkit-transform: scale(1) rotate(-35deg);
  transform: scale(1) rotate(-35deg);
  -webkit-animation: zoom-in-state-1 0.4s ease-in-out 1 forwards, anim-1 1.2s 0.3s infinite, anim-2 0.6s 0.3s infinite;
  -moz-animation: zoom-in-state-1 0.4s ease-in-out 1 forwards, anim-1 1.2s 0.3s infinite, anim-2 0.6s 0.3s infinite;
  -ms-animation: zoom-in-state-1 0.4s ease-in-out 1 forwards, anim-1 1.2s 0.3s infinite, anim-2 0.6s 0.3s infinite;
  -o-animation: zoom-in-state-1 0.4s ease-in-out 1 forwards, anim-1 1.2s 0.3s infinite, anim-2 0.6s 0.3s infinite;
  animation: zoom-in-state-1 0.4s ease-in-out 1 forwards, anim-1 1.2s 0.3s infinite, anim-2 0.6s 0.3s infinite;
}

.mfIcon.state-2 span:before {
  content: "";
  -moz-transform: scale(0) rotate(90deg);
  -ms-transform: scale(0) rotate(90deg);
  -o-transform: scale(0) rotate(90deg);
  -webkit-transform: scale(0) rotate(90deg);
  transform: scale(0) rotate(90deg);
}
.mfIcon.state-2 span:after {
  -moz-transform: scale(1) rotate(-210deg);
  -ms-transform: scale(1) rotate(-210deg);
  -o-transform: scale(1) rotate(-210deg);
  -webkit-transform: scale(1) rotate(-210deg);
  transform: scale(1) rotate(-210deg);
  -webkit-animation: zoom-in-state-2 0.4s ease-in-out 1 forwards, anim-3 0.6s 0.4s infinite;
  -moz-animation: zoom-in-state-2 0.4s ease-in-out 1 forwards, anim-3 0.6s 0.4s infinite;
  -ms-animation: zoom-in-state-2 0.4s ease-in-out 1 forwards, anim-3 0.6s 0.4s infinite;
  -o-animation: zoom-in-state-2 0.4s ease-in-out 1 forwards, anim-3 0.6s 0.4s infinite;
  animation: zoom-in-state-2 0.4s ease-in-out 1 forwards, anim-3 0.6s 0.4s infinite;
}

@-ms-keyframes anim-1 {
  0% {
    left: 50%;
  }
  100% {
    left: 90%;
  }
}
@-o-keyframes anim-1 {
  0% {
    left: 50%;
  }
  100% {
    left: 90%;
  }
}
@-webkit-keyframes anim-1 {
  0% {
    left: 50%;
  }
  100% {
    left: 90%;
  }
}
@-moz-keyframes anim-1 {
  0% {
    left: 50%;
  }
  100% {
    left: 90%;
  }
}
@keyframes anim-1 {
  0% {
    left: 50%;
  }
  100% {
    left: 90%;
  }
}
@-ms-keyframes anim-2 {
  0% {
    transform: rotate(-35deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(-35deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(-35deg);
  }
}
@-o-keyframes anim-2 {
  0% {
    transform: rotate(-35deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(-35deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(-35deg);
  }
}
@-webkit-keyframes anim-2 {
  0% {
    transform: rotate(-35deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(-35deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(-35deg);
  }
}
@-moz-keyframes anim-2 {
  0% {
    transform: rotate(-35deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(-35deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(-35deg);
  }
}
@keyframes anim-2 {
  0% {
    transform: rotate(-35deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(-35deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(-35deg);
  }
}
@-ms-keyframes anim-3 {
  0% {
    transform: rotate(150deg);
    left: 50%;
  }
  50% {
    transform: rotate(150deg);
    left: 90%;
  }
  100% {
    transform: rotate(150deg);
    left: 50%;
  }
}
@-o-keyframes anim-3 {
  0% {
    transform: rotate(150deg);
    left: 50%;
  }
  50% {
    transform: rotate(150deg);
    left: 90%;
  }
  100% {
    transform: rotate(150deg);
    left: 50%;
  }
}
@-webkit-keyframes anim-3 {
  0% {
    transform: rotate(150deg);
    left: 50%;
  }
  50% {
    transform: rotate(150deg);
    left: 90%;
  }
  100% {
    transform: rotate(150deg);
    left: 50%;
  }
}
@-moz-keyframes anim-3 {
  0% {
    transform: rotate(150deg);
    left: 50%;
  }
  50% {
    transform: rotate(150deg);
    left: 90%;
  }
  100% {
    transform: rotate(150deg);
    left: 50%;
  }
}
@keyframes anim-3 {
  0% {
    transform: rotate(150deg);
    left: 50%;
  }
  50% {
    transform: rotate(150deg);
    left: 90%;
  }
  100% {
    transform: rotate(150deg);
    left: 50%;
  }
}
@-ms-keyframes zoom-out {
  0% {
    transform: scale(1) rotate(-35deg);
  }
  100% {
    transform: scale(0) rotate(-180deg);
  }
}
@-o-keyframes zoom-out {
  0% {
    transform: scale(1) rotate(-35deg);
  }
  100% {
    transform: scale(0) rotate(-180deg);
  }
}
@-webkit-keyframes zoom-out {
  0% {
    transform: scale(1) rotate(-35deg);
  }
  100% {
    transform: scale(0) rotate(-180deg);
  }
}
@-moz-keyframes zoom-out {
  0% {
    transform: scale(1) rotate(-35deg);
  }
  100% {
    transform: scale(0) rotate(-180deg);
  }
}
@keyframes zoom-out {
  0% {
    transform: scale(1) rotate(-35deg);
  }
  100% {
    transform: scale(0) rotate(-180deg);
  }
}
@-ms-keyframes zoom-in-state-1 {
  0% {
    transform: scale(0) rotate(-180deg);
  }
  100% {
    transform: scale(1) rotate(-35deg);
  }
}
@-o-keyframes zoom-in-state-1 {
  0% {
    transform: scale(0) rotate(-180deg);
  }
  100% {
    transform: scale(1) rotate(-35deg);
  }
}
@-webkit-keyframes zoom-in-state-1 {
  0% {
    transform: scale(0) rotate(-180deg);
  }
  100% {
    transform: scale(1) rotate(-35deg);
  }
}
@-moz-keyframes zoom-in-state-1 {
  0% {
    transform: scale(0) rotate(-180deg);
  }
  100% {
    transform: scale(1) rotate(-35deg);
  }
}
@keyframes zoom-in-state-1 {
  0% {
    transform: scale(0) rotate(-180deg);
  }
  100% {
    transform: scale(1) rotate(-35deg);
  }
}
@-ms-keyframes zoom-in-state-2 {
  0% {
    transform: scale(0) rotate(-35deg);
  }
  100% {
    left: 50%;
    transform: scale(1) rotate(150deg);
  }
}
@-o-keyframes zoom-in-state-2 {
  0% {
    transform: scale(0) rotate(-35deg);
  }
  100% {
    left: 50%;
    transform: scale(1) rotate(150deg);
  }
}
@-webkit-keyframes zoom-in-state-2 {
  0% {
    transform: scale(0) rotate(-35deg);
  }
  100% {
    left: 50%;
    transform: scale(1) rotate(150deg);
  }
}
@-moz-keyframes zoom-in-state-2 {
  0% {
    transform: scale(0) rotate(-35deg);
  }
  100% {
    left: 50%;
    transform: scale(1) rotate(150deg);
  }
}
@keyframes zoom-in-state-2 {
  0% {
    transform: scale(0) rotate(-35deg);
  }
  100% {
    left: 50%;
    transform: scale(1) rotate(150deg);
  }
}
@-ms-keyframes line {
  0% {
    left: 40%;
  }
  100% {
    left: 40%;
    width: 40%;
  }
}
@-o-keyframes line {
  0% {
    left: 40%;
  }
  100% {
    left: 40%;
    width: 40%;
  }
}
@-webkit-keyframes line {
  0% {
    left: 40%;
  }
  100% {
    left: 40%;
    width: 40%;
  }
}
@-moz-keyframes line {
  0% {
    left: 40%;
  }
  100% {
    left: 40%;
    width: 40%;
  }
}
@keyframes line {
  0% {
    left: 40%;
  }
  100% {
    left: 40%;
    width: 40%;
  }
}
.mfInput input[name='phone'] ~ .mfIcon span:before,
.mfInput select[name='phone'] ~ .mfIcon span:before,
.mfInput textarea[name='phone'] ~ .mfIcon span:before {
  content: "";
}
.mfInput input[name='email'] ~ .mfIcon span:before,
.mfInput select[name='email'] ~ .mfIcon span:before,
.mfInput textarea[name='email'] ~ .mfIcon span:before {
  content: "";
}
.mfInput input[name='name'] ~ .mfIcon span:before,
.mfInput select[name='name'] ~ .mfIcon span:before,
.mfInput textarea[name='name'] ~ .mfIcon span:before {
  content: "";
}
.mfInput input[name='birthday'] ~ .mfIcon span:before,
.mfInput select[name='birthday'] ~ .mfIcon span:before,
.mfInput textarea[name='birthday'] ~ .mfIcon span:before {
  content: "";
}
.mfInput input[name='message'] ~ .mfIcon,
.mfInput select[name='message'] ~ .mfIcon,
.mfInput textarea[name='message'] ~ .mfIcon {
  display: none;
}
.mfInput input:-webkit-autofill ~ .mfIcon span:before,
.mfInput textarea:-webkit-autofill ~ .mfIcon span:before {
  color: #2D2D2D;
}

/* Mail Form Select
========================================================*/
.mfSelect {
  position: relative;
}
.mfSelect .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  max-height: 300px;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #888;
  -webkit-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
  -moz-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  -webkit-animation: dropd-anim-fo 0.4s ease-in-out forwards;
  -moz-animation: dropd-anim-fo 0.4s ease-in-out forwards;
  -ms-animation: dropd-anim-fo 0.4s ease-in-out forwards;
  -o-animation: dropd-anim-fo 0.4s ease-in-out forwards;
  animation: dropd-anim-fo 0.4s ease-in-out forwards;
  outline: none;
  -webkit-appearance: none;
  font-weight: inherit;
  line-height: 20px;
  border: none;
  background: #FFF;
  color: #4C3469;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.mfSelect .dropdown .option {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 15px;
  overflow: hidden;
  -moz-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.mfSelect .dropdown .option.selected {
  background: #ececec;
}
.mfSelect .dropdown .option:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #4C3469;
  opacity: 0;
  z-index: -1;
  -moz-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  transform: translate(-20%, -50%);
}
.mfSelect .dropdown .option:before {
  content: '\e18e';
  position: absolute;
  display: inline-block;
  left: 15px;
  color: #FFF;
  font: 400 20px 'material-design';
  line-height: inherit;
  -moz-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  transform: scale(0) rotate(-60deg);
}
.mfSelect .dropdown .option:hover {
  color: #FFF;
  padding-left: 40px;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.mfSelect .dropdown .option:hover:before {
  -moz-transition-delay: 0.15s;
  -o-transition-delay: 0.15s;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  transform: scale(1) rotate(0deg);
}
.mfSelect .dropdown .option:hover:after {
  width: 500px;
  height: 500px;
  opacity: 1;
}
.mfSelect .dropdown:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #fff transparent;
}
.mfSelect .value {
  cursor: pointer;
  -moz-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  padding: 10px 15px;
  line-height: 20px;
  color: #fff;
  background: #3b3b3b;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.mfSelect .value:before, .mfSelect .value:after {
  position: absolute;
  right: 12px;
  top: 8px;
  width: 24px;
  height: 24px;
  font: 400 20px 'material-design';
  line-height: 24px;
  color: #FFF;
  text-align: center;
  -moz-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}
.mfSelect .value:before {
  content: '\e151';
  transform: rotate(-90deg) scale(1);
}
.mfSelect .value:after {
  content: '\e07b';
  font-size: 24px;
  transform: rotate(-180deg) scale(0);
}
.mfSelect .value:hover {
  background: #FFF;
  color: #2D2D2D;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}
.mfSelect .value:hover:before, .mfSelect .value:hover:after {
  color: #2D2D2D;
}
.mfSelect.show .dropdown {
  -webkit-animation: dropd-anim 0.5s ease-in-out forwards;
  -moz-animation: dropd-anim 0.5s ease-in-out forwards;
  -ms-animation: dropd-anim 0.5s ease-in-out forwards;
  -o-animation: dropd-anim 0.5s ease-in-out forwards;
  animation: dropd-anim 0.5s ease-in-out forwards;
  opacity: 1;
  z-index: 1;
  visibility: visible;
}
.mfSelect.show .value {
  background: #FFF;
  color: #2D2D2D;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}
.mfSelect.show .value:before, .mfSelect.show .value:after {
  color: #2D2D2D;
}
.mfSelect.show .value:before {
  transform: rotate(0deg) scale(0);
}
.mfSelect.show .value:after {
  transform: rotate(0deg) scale(1);
}

@-ms-keyframes dropd-anim-fo {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(30px);
    opacity: 0;
  }
}
@-o-keyframes dropd-anim-fo {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(30px);
    opacity: 0;
  }
}
@-webkit-keyframes dropd-anim-fo {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(30px);
    opacity: 0;
  }
}
@-moz-keyframes dropd-anim-fo {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(30px);
    opacity: 0;
  }
}
@keyframes dropd-anim-fo {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(30px);
    opacity: 0;
  }
}
@-ms-keyframes dropd-anim {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-o-keyframes dropd-anim {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes dropd-anim {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes dropd-anim {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes dropd-anim {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Mail Form Date Picker
========================================================*/
.mfDatePicker {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 15px;
  padding: 10px 15px;
  opacity: 0;
  z-index: 1;
  visibility: hidden;
  -webkit-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
  -moz-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  -webkit-animation: dropd-anim-fo 0.4s ease-in-out forwards;
  -moz-animation: dropd-anim-fo 0.4s ease-in-out forwards;
  -ms-animation: dropd-anim-fo 0.4s ease-in-out forwards;
  -o-animation: dropd-anim-fo 0.4s ease-in-out forwards;
  animation: dropd-anim-fo 0.4s ease-in-out forwards;
  background: #fff;
  color: #111;
  border-radius: 5px;
  border: 1px solid #fff;
}
.mfDatePicker:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #fff transparent;
}
.mfDatePicker table {
  text-align: center;
  border-collapse: separate;
  border-spacing: 3px;
  font-size: 12px;
}
.mfDatePicker table th {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}
.mfDatePicker table td {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  border-radius: 50%;
}
.mfDatePicker table td:hover {
  background: #ececec;
}
.mfDatePicker table td.dp-offset {
  color: #c6bbba;
}
.mfDatePicker table td.dp-today {
  color: #fff;
  background: #111;
}
.mfDatePicker table td.dp-selected {
  color: #fff;
  background: #4C3469;
}
.mfDatePicker_next, .mfDatePicker_prev {
  font: 400 22px 'material-design';
  line-height: inherit;
  text-align: center;
  color: #111;
  cursor: pointer;
}
.mfDatePicker_next:hover, .mfDatePicker_prev:hover {
  color: #4C3469;
}
.mfDatePicker_panel {
  text-align: center;
  padding: 0 2px;
  line-height: 30px;
}
.mfDatePicker_next {
  float: right;
}
.mfDatePicker_next:before {
  content: '\e0c2';
}
.mfDatePicker_prev {
  float: left;
}
.mfDatePicker_prev:before {
  content: '\e0c3';
}
.mfDatePicker_panel + table {
  margin-top: 5px;
}
.mfDatePicker.open {
  -webkit-animation: dropd-anim 0.5s ease-in-out forwards;
  -moz-animation: dropd-anim 0.5s ease-in-out forwards;
  -ms-animation: dropd-anim 0.5s ease-in-out forwards;
  -o-animation: dropd-anim 0.5s ease-in-out forwards;
  animation: dropd-anim 0.5s ease-in-out forwards;
  opacity: 1;
  visibility: visible;
}

/* search.scss
=========================================================*/
.search-form {
  /* Firefox 19+ */
}

.search-form_toggle {
  color: #777;
}
.search-form_toggle.active, .search-form_toggle:hover {
  color: #2196F3;
}

.search-form_liveout .search_link .search_title {
  color: #2196F3;
}
.search-form_liveout .search_link:hover {
  background: #2196F3;
  color: #e3f2fd;
}
.search-form_liveout .search_error {
  color: #2196F3;
}
.search-form_liveout button {
  color: #2196F3;
}
.search-form_liveout button:hover {
  background: #2196F3;
}

.search-frame h4 a:hover {
  color: #2196F3;
}
.search-frame .search_list li:before {
  color: #2196F3;
}
.search-frame .match {
  color: #000;
}

/* style.scss
=========================================================*/
body {
  color: #777;
}

h5,
.h5 {
  color: #000;
}

time:before {
  color: #2196F3;
}

.clr-primary {
  color: #2196F3;
}

hr {
  background: #777;
}

.link1 {
  color: #2196F3;
}
.link1:hover {
  color: #777;
}

.brand {
  color: #000;
}

.block-icon .icon {
  color: #2196F3;
}

.copyright span, .copyright a {
  color: #777;
}
.copyright a:hover {
  color: #2196F3;
}

.blockquote q:before {
  color: #2196F3;
}

.blockquote2:before {
  color: #2196F3;
}
.blockquote2 cite {
  line-height: 33px;
}

@media (max-width: 1199px) {
  .media-left,
  .media-right,
  .media-body {
    /**/
  }
}

.index-list li:before {
  background: #2196F3;
  color: #000;
}

.term-list dt {
  color: #000;
}
.term-list dd {
  color: #777;
}
.term-list a[href^="mailto:"] {
  color: #000;
}
.term-list a[href^="mailto:"]:hover {
  color: #2196F3;
}

.marked-list li a:hover {
  color: #2196F3;
}

.inline-list li a {
  color: #2196F3;
}

.address span:before {
  color: #2196F3;
}

.address__mod span:before {
  color: #2196F3;
}

.contact-list address {
  color: #2196F3;
}
.contact-list li a[href^="mailto:"] {
  color: #2196F3;
}
.contact-list li a[href^="mailto:"]:hover {
  color: #000;
}

.privacy dt {
  color: #2196F3;
}
.privacy a {
  color: #2196F3;
}
.privacy a:hover {
  color: #777;
}

.bg1 {
  background: #2196F3;
}

.bg2 {
  background: #000;
}

.bg3 {
  background: #777;
}

.color1 {
  color: #2196F3;
}

.color2 {
  color: #000;
}

.color3 {
  color: #777;
}

.btn {
  color: #000;
  background: #2196F3;
}
.btn:hover {
  color: #2196F3;
  background: black;
}
.btn:active {
  color: #2196F3;
  background: black;
}

header {
  background: #2196F3;
}

footer {
  background: #191919;
}

.bg-primary h1, .bg-primary h2 {
  color: #000;
}
.bg-primary time, .bg-primary cite {
  color: #000;
}
.bg-primary p {
  color: #777;
}
.bg-primary a[href^="callto:"] {
  color: #777;
}
.bg-primary a[href^="callto:"]:hover {
  color: #000;
}
.bg-primary a[href^="mailto:"] {
  color: #000;
}
.bg-primary a[href^="mailto:"]:hover {
  color: #2196F3;
}

.bg-secondary {
  background-color: #f2f2f2;
}
.bg-secondary h1, .bg-secondary h2, .bg-secondary h3, .bg-secondary h4, .bg-secondary h5, .bg-secondary h6 {
  color: #000;
}
.bg-secondary h3, .bg-secondary p, .bg-secondary a, .bg-secondary blockquote, .bg-secondary q, .bg-secondary dt, .bg-secondary dd {
  color: #000;
}
.bg-secondary .p__mod {
  color: #777;
}

.bg-alt {
  background: #191919;
}
.bg-alt time, .bg-alt a {
  color: #2196F3;
}
.bg-alt p {
  color: #888888;
}
.bg-alt .btn {
  color: #000;
}

.icon1 {
  color: #000;
}
.icon1:hover {
  color: #2196F3;
}

.map_model p, .map_model p span {
  color: #000;
}

.sf-menu > li > a {
  color: #000;
}
.sf-menu > li.sfHover > a, .sf-menu > li > a:hover {
  background: #000;
}
.sf-menu > li.active > a {
  background: #000;
}

.sf-menu ul {
  background: #000;
}

.sf-menu ul:before {
  background: #2196F3;
}
.sf-menu ul > li > a {
  color: #2196F3;
}

.sf-menu ul ul {
  background: #000;
}

.sf-menu > li > .sf-with-ul:before {
  /**/
}

.sf-menu > li > ul > li > .sf-with-ul:before {
  color: #2196F3;
}

@media (max-width: 991px) {
  .sf-menu > li > a {
    /**/
  }
}
.isStuck {
  background: #2196F3;
}

.toTop {
  background: #000;
}
.toTop:hover {
  background: #2196F3;
}

.thumbnail .thumbnail_img .overlay {
  background: #2196F3;
}
.thumbnail .thumbnail_img .overlay h2 {
  color: #000;
}
.thumbnail .thumbnail_img .overlay:hover {
  background: #000;
}
.thumbnail .thumbnail_img .overlay:hover h2 {
  color: #2196F3;
}
.thumbnail p a:hover:before {
  color: #2196F3;
}

.thumbnail_wrap .thumbnail_box .thumbnail_box_cnt h5 {
  color: #2196F3;
}

@media (max-width: 1060px) and (min-width: 768px) {
  .thumbnail_wrap .thumbnail_box .thumbnail_box_cnt .btn {
    /**/
  }
}
@media (max-width: 767px) {
  .thumbnail_wrap .thumbnail_box .thumbnail_box_cnt .btn {
    /**/
  }
}
.thumb_overlay {
  background: #2196F3;
}
.thumb span {
  color: #000;
}
.thumb:hover .thumb_overlay {
  background: #000;
  color: #2196F3;
}
