/*==================  GOOGLE MAP  ======================*/
.map_model {
  height: 171px;
}
.map_model img {
  max-width: none !important;
}
@media (max-width: 767px) {
  .map_model {
    height: 250px !important;
  }
}
@media (max-width: 479px) {
  .map_model {
    height: 200px !important;
  }
}
.map_locations {
  display: none;
}

.map.map__mod .map_model {
  height: 426px;
}
