@charset "UTF-8";
@import url(animate.css);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Raleway:400,300,600,800,700,500,900);
/*========================================================
						Main Styles
=========================================================*/
body {
  color: #777;
  font: 400 13px/20px "Raleway", sans-serif;
  -webkit-text-size-adjust: none;
  background: #191919;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

h2,
.h2 {
  font-size: 20px;
  line-height: 33px;
  font-weight: 800;
}

@media (max-width: 767px) {
  h2,
  .h2 {
    font-size: 28px;
    line-height: 30px;
  }
}
h3,
.h3 {
  font-size: 18px;
  line-height: 33px;
}

h3 small,
.h3 small,
h3 .small,
.h3 .small {
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  color: #ffd700;
  display: block;
}

h4,
.h4 {
  font-size: 16px;
  line-height: 20px;
}

@media (max-width: 767px) {
  h4,
  .h4 {
    font-size: 12px;
    line-height: 15px;
  }
}
h5,
.h5 {
  font-size: 14px;
  line-height: 33px;
  font-weight: 600;
  color: #000;
}

@media (max-width: 1199px) {
  h5,
  .h5 {
    font-size: 12px;
    line-height: 20px;
  }
}
h6,
.h6 {
  font-size: 13px;
  line-height: 20px;
}

p a:hover, .marked-list a:hover, .list a:hover {
  text-decoration: underline;
}
p .fa, .marked-list .fa, .list .fa {
  text-decoration: none;
}

time {
  display: block;
}

time {
  display: block;
  font-size: 13px;
  padding-left: 20px;
  position: relative;
  top: -3px;
}
time:before {
  content: '\f073';
  font: 400 13px/30px "FontAwesome";
  position: absolute;
  left: 0;
  color: #ffd700;
  top: -4px;
}

.time__mod {
  top: 0;
}

p span {
  color: #fff;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:focus {
  outline: none;
}
a:active {
  background-color: transparent;
}

a[href^="tel:"],
a[href^="callto:"] {
  color: inherit;
  text-decoration: none;
}

a[href^="callto:"]:hover {
  text-decoration: underline;
}

strong {
  font-weight: 700;
}

.fa {
  line-height: inherit;
}

[class*='fa-']:before {
  font-weight: 400;
  font-family: "FontAwesome";
}

.page {
  overflow: hidden;
  min-height: 500px;
}
.lt-ie9 .page {
  min-width: 1200px;
}

@media (max-width: 767px) {
  .center767 * {
    text-align: center;
  }
}

.center {
  text-align: center;
}

@media (max-width: 767px) {
  .center767 {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .ins767 {
    padding-left: 8%;
    padding-right: 8%;
  }
}

.txt-clr1 {
  color: #fff;
}

.clr-primary {
  color: #ffd700;
}

.border-t {
  border-top: 1px solid #484646;
  padding-top: 10px;
  margin-top: 20px;
}

.h5__mod {
  line-height: 25px;
}

/*=======================================================
						 Main Layout
=========================================================*/
.fleft {
  float: left;
}

.fright {
  float: right;
}

.cntr {
  text-align: center;
}

.left {
  text-align: left;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

hr {
  border: none;
  height: 1px;
  background: #777;
}

.link1 {
  color: #ffd700;
}
.link1:hover {
  color: #777;
}

@media (max-width: 767px) {
  .mobile_cntr {
    text-align: center;
  }
}
@media (max-width: 479px) {
  .mobile_cntr2 {
    text-align: center;
  }
}
* + h3, * + h4, * + h5, * + h6, * + p, * + img, * + .btn {
  margin-top: 20px;
}

* + p {
  margin-top: 3px;
}

* + h5 {
  margin-top: 10px;
}

* + .row {
  margin-top: 7px;
}

* + .offset {
  margin-top: 20px;
}

* + .offset2 {
  margin-top: 16px;
}

* + a {
  margin-top: 10px;
}

a + a {
  margin-top: 13px;
}

.time + h5 {
  margin-top: -5px;
}

h2 + h4 {
  margin-top: 17px;
}

h2 + .row {
  margin-top: 20px;
}

h2 + .index-list {
  margin-top: 10px;
}

h2 + .thumbnail {
  margin-top: 20px;
}

h2 + .list {
  margin-top: 17px;
}

h2 + .offset2 {
  margin-top: 10px;
}

h2 + .offset3 {
  margin-top: 0;
}

.page1 h5 + p {
  margin-top: 14px;
}

h5 + p {
  margin-top: 4px;
}

p + p {
  margin-top: 11px;
}

p + .marked-list {
  margin-top: 14px;
}

h5 + article {
  margin-top: 17px;
}

article + article {
  margin-top: 23px;
}

.row + .row {
  margin-top: 5px;
}

.mailform + .map {
  margin-top: 25px;
}

.row + .offset {
  margin-top: 50px;
}

.row + .offset2 {
  margin-top: 21px;
}

.row + .offset4 {
  margin-top: 50px;
}
@media (max-width: 767px) {
  .row + .offset4 {
    margin-top: 0;
  }
}

.row + .marTop3.offset2 {
  margin-top: -11px;
  display: inline-block;
}

.container .row .container {
  margin-top: 20px;
}

img + .caption h5 {
  margin-top: -2px;
}

.marTop1 {
  margin-top: -5px;
}

.marTop2 {
  margin-top: 0;
}

h2 + .marTop3 {
  margin-top: -10px;
}

h2 + .marTop6 {
  margin-top: 0px;
}

.marTop4 {
  margin-top: 0;
}

h2 + .offset2.marTop5 {
  margin-top: -10px;
}

.marTop6 {
  margin-top: 20px;
}

@media (max-width: 979px) {
  .mg-add {
    margin-top: 40px;
  }
}
.mg-add2 {
  margin-top: -5px;
}
@media (max-width: 767px) {
  .mg-add2 {
    margin: 10px 0 30px;
  }
}

/*=======================================================
						Components
=========================================================*/
/*==================     Brand     ======================*/
.brand {
  display: inline-block;
  color: #000;
  text-transform: uppercase;
  padding-left: 52px;
  background: url(../images/logo.png) 0 7px no-repeat;
}
.brand_name {
  overflow: hidden;
  position: relative;
  font-weight: 900;
  margin-top: 3px;
  display: inline-block;
  font-size: 30px;
  line-height: 34px;
}
.brand_slogan {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  margin-top: -4px;
}

/*==================   Block-icon     =======================*/
.block-icon {
  position: relative;
}
.block-icon .block_caption {
  position: relative;
  padding-left: 90px;
}
.block-icon .icon {
  position: absolute;
  font: 400 60px/30px "FontAwesome";
  color: #ffd700;
  left: 3px;
  top: 29px;
}
@media (max-width: 767px) {
  .block-icon {
    margin-top: 30px;
  }
}

/*==================   V-Line    ========================*/
.v-line {
  position: relative;
  padding-right: 25px;
  padding-bottom: 23px;
}
.v-line:before {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  right: 16px;
  background: #3b3b3b;
  position: absolute;
}
@media (max-width: 1199px) {
  .v-line:before {
    right: 0;
  }
}
@media (max-width: 1199px) {
  .v-line:before {
    display: none;
  }
}

.v-line__ins {
  padding-bottom: 0;
}

/*==================   G-Line    ========================*/
.g-line {
  width: 95%;
  height: 1px;
  background: #3b3b3b;
}
* + .g-line {
  margin-top: 23px;
}
.g-line + h5 {
  margin-top: 17px;
}

.btn + .g-line {
  margin-top: 30px;
}

/*==================   Copyright     ====================*/
.copyright {
  padding-top: 11px;
  font-size: 11px;
  line-height: 20px;
}
.copyright span, .copyright a {
  color: #777;
}
.copyright a:hover {
  color: #ffd700;
}

/*==================    Quote     ======================*/
.blockquote {
  padding: 0;
  margin: 0;
  padding-right: 10px;
}
.blockquote q {
  padding-left: 20px;
  position: relative;
}
.blockquote q:before {
  content: "\f10e";
  position: absolute;
  font: 400 16px/20px "FontAwesome";
  left: 0;
  top: 0;
  color: #ffd700;
}
.blockquote cite {
  display: block;
  font-style: normal;
  color: #fff;
}
* + .blockquote {
  margin-top: 14px;
}

.blockquote2 {
  padding: 0;
  margin: 0;
  position: relative;
  padding-left: 60px;
}
.blockquote2:before {
  content: "\f10e";
  position: absolute;
  font: 400 45px/20px "FontAwesome";
  color: #ffd700;
  left: 0;
  top: 14px;
}
.blockquote2 cite {
  display: block;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 33px;
}
.blockquote2 * + cite {
  margin-top: 3px;
}
* + .blockquote2 {
  margin-top: 14px;
}

/*==================  media  ======================*/
.media:first-child {
  margin-top: 0;
}

.media,
.media-body {
  zoom: 1;
  overflow: hidden;
}

.media-body {
  padding-right: 10px;
}
.media-body p {
  margin-top: 4px;
}

.media-object {
  display: block;
}

.media-right,
.media > .pull-right {
  padding-left: 10px;
}

.media-left,
.media > .pull-left {
  padding-right: 18px;
}

.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
  min-width: 118px;
}
@media (max-width: 479px) {
  .media-left,
  .media-right,
  .media-body {
    min-width: 70px;
  }
  .media-left img,
  .media-right img,
  .media-body img {
    width: 100%;
  }
}
@media (max-width: 1199px) {
  .media-left,
  .media-right,
  .media-body {
    /*display: block;*/
    margin-top: 10px;
  }
}
@media (max-width: 991px) {
  .media-left,
  .media-right,
  .media-body {
    display: table-cell;
  }
}

.media-middle {
  vertical-align: middle;
}

.media-bottom {
  vertical-align: bottom;
}

.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

.media-list {
  padding-left: 0;
  list-style: none;
}

/*================      Flex list     =================*/
.flex-list {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

.flex-list li {
  display: table-cell;
  position: relative;
  padding: 0 20px;
}
.flex-list li a:hover {
  opacity: 0.6;
}
.lt-ie9 .flex-list li a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.6)";
  filter: alpha(opacity=60);
}

@media (max-width: 767px) {
  .flex-list li {
    display: block;
    margin-top: 40px;
  }
}
/*================      Index list     =================*/
.index-list {
  counter-reset: li;
}
.index-list * + p {
  margin-top: 5px;
  margin-bottom: 13px;
  color: #777 !important;
}
@media (max-width: 767px) {
  .index-list {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.index-list h5 + p {
  margin-top: 4px;
}

@media (min-width: 1199px) {
  .index-list li:first-child + li + li + li,
  .index-list li:first-child + li + li + li + li,
  .index-list li:first-child + li + li + li + li + li,
  .index-list li:first-child + li + li + li + li + li + li {
    margin-top: 0px;
  }
}
@media (max-width: 991px) {
  .index-list li {
    margin-top: 30px;
  }
}
.index-list li {
  position: relative;
  padding-left: 104px;
}
@media (max-width: 1199px) {
  .index-list li {
    padding-left: 95px;
  }
}
.index-list li:before {
  content: counter(li,decimal-leading-zero);
  counter-increment: li;
  position: absolute;
  display: inline-block;
  width: 69px;
  height: 69px;
  text-align: center;
  background: #ffd700;
  line-height: 69px;
  font-size: 23px;
  font-weight: 400;
  left: 15px;
  top: 10px;
  color: #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .index-list li:before {
    top: -4px;
  }
}

/*================    Term list     =================*/
.term-list dt {
  font-weight: 600;
  font-size: 14px;
  line-height: 33px;
  text-transform: uppercase;
  color: #000;
}
.term-list dd {
  margin-left: 0;
  color: #777;
}
.term-list * + dt {
  margin-top: 35px;
}
.term-list dt + * {
  margin-top: 2px;
}
.term-list a[href^="mailto:"] {
  font-size: 13px;
  line-height: 20px;
  display: inline-block;
  color: #000;
}
.term-list a[href^="mailto:"]:hover {
  color: #ffd700;
}

/*================    Marked list     =================*/
.marked-list {
  list-style: none;
}
.marked-list li {
  position: relative;
  padding-left: 24px;
}
.marked-list li a {
  line-height: 30px;
  color: #000;
}
.marked-list li a:before {
  content: '';
  position: absolute;
  display: block;
  width: 9px;
  height: 9px;
  background: #3b3b3b;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 0;
  top: 11px;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.marked-list li a:hover {
  color: #ffd700;
}

/*==================  Inline List  ======================*/
.inline-list li {
  display: inline-block;
}
.inline-list li a {
  text-align: center;
  color: #ffd700;
}
.inline-list li + li {
  margin-left: 15px;
}
.inline-list .fa {
  text-align: center;
  font: 400 20px/30px "FontAwesome";
}
* + .inline-list {
  margin-top: 17px;
}

/*==================   address   ======================*/
.address {
  font-style: normal;
}
.address address, .address dt, .address dd {
  font-style: normal;
}
.address address {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.address dt, .address dd {
  line-height: 31px;
}
.address dt {
  margin-right: 5px;
  float: left;
  padding-left: 34px;
}
.address span {
  position: relative;
}
.address span:before {
  font-size: 20px;
  position: absolute;
  top: 0px;
  left: -34px;
  color: #ffd700;
}
* + .address {
  margin-top: 17px;
}

.address__mod {
  margin-top: -20px;
}
.address__mod span:before {
  left: -29px;
  color: #ffd700;
}

/*==================   Contact-list   ======================*/
.contact-list {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.contact-list address {
  font-size: 15px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffd700;
}
.contact-list li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 90px;
}
@media (max-width: 1199px) {
  .contact-list li {
    padding-right: 0px;
  }
}
.contact-list li dt {
  float: left;
}
.contact-list li dd {
  float: right;
}
.contact-list li dl + dl {
  clear: both;
}
.contact-list li dl + dl dd, .contact-list li dl + dl dt {
  display: inline-block;
  float: none;
}
.contact-list li dt + dd {
  margin-top: 0;
}
.contact-list li dd + dt {
  clear: both;
  margin-top: 0;
}
.contact-list li a[href^="mailto:"] {
  color: #ffd700;
  font-size: 12px;
  line-height: 26px;
  text-decoration: underline;
}
.contact-list li a[href^="mailto:"]:hover {
  text-decoration: none;
  color: #000;
}
@media (max-width: 767px) {
  .contact-list li + li {
    margin-top: 20px;
  }
}

/*==================   List-1   ======================*/
.list-1 li + li {
  margin-top: 18px;
}

/*==================     Privacy    =====================*/
.privacy {
  text-align: center;
  padding-top: 52px;
  padding-bottom: 22px;
}
.privacy dt {
  font-size: 18px;
  line-height: 28px;
  font-weight: 800;
  color: #ffd700;
  text-transform: uppercase;
}
.privacy dt + dd {
  margin-top: 18px;
}
.privacy dd + dt {
  margin-top: 29px;
}
.privacy a {
  color: #ffd700;
  text-decoration: underline;
}
.privacy a:hover {
  color: #777;
}

/*==================  Backgrounds  ======================*/
.bg1 {
  background: #ffd700;
}

.bg2 {
  background: #000;
}

.bg3 {
  background: #777;
}

.color1 {
  color: #ffd700;
}

.color2 {
  color: #000;
}

.color3 {
  color: #777;
}

/*==================     Icons     ======================*/
/*==================    Buttons    ======================*/
* + .btn {
  margin-top: 25px;
}

.btn {
  display: inline-block;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 33px;
  text-transform: uppercase;
  padding: 4px 21px 4px;
  color: #000;
  background: #ffd700;
}
.btn:hover {
  color: #ffd700;
  background: black;
}
.btn:active {
  color: #ffd700;
  background: black;
}

/*==================      Box      ======================*/
.box:before, .box:after {
  display: table;
  content: "";
  line-height: 0;
}
.box:after {
  clear: both;
}
.box_aside {
  float: left;
}
.box_cnt__no-flow {
  overflow: hidden;
}

/*========================   Menu   ==========================*/
.sf-menu {
  font-family: "Raleway", sans-serif;
  display: inline-block;
}
.sf-menu:before, .sf-menu:after {
  display: table;
  content: "";
  line-height: 0;
}
.sf-menu:after {
  clear: both;
}
.sf-menu > li {
  position: relative;
  float: left;
}
.sf-menu > li + li {
  margin-left: 7px;
}
.sf-menu a {
  display: block;
}

.sf-menu > li > a {
  text-transform: uppercase;
  padding: 14px 11px 29px 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  letter-spacing: -0.2px;
}
.sf-menu > li.sfHover > a, .sf-menu > li > a:hover {
  color: #fff;
  background: #000;
}
.sf-menu > li.active > a {
  color: #fff;
  background: #000;
}

.sf-menu ul {
  display: none;
  position: absolute;
  top: 100%;
  margin-top: -20px;
  padding-top: 30px;
  padding-bottom: 20px;
  width: 184px;
  background: #000;
  z-index: 2;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sf-menu ul {
  box-shadow: 1px 1px 3px #555;
  position: absolute;
}
.sf-menu ul:before {
  position: absolute;
  top: 9px;
  display: block;
  content: '';
  width: 90%;
  left: 11px;
  height: 2px;
  background: #ffd700;
}
.sf-menu ul > li {
  position: relative;
}
.sf-menu ul > li > a {
  padding-left: 32px;
  font-size: 13px;
  line-height: 30px;
  color: #ffd700;
  position: relative;
  padding-right: 20px;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.sf-menu ul > li.sfHover > a, .sf-menu ul > li > a:hover {
  color: #fff;
}

.sf-menu ul ul {
  position: absolute;
  left: 100%;
  margin-top: 0;
  z-index: 4;
  font-weight: 400;
  top: -4px;
  width: 100px;
  padding: 8px 0px;
  background: #000;
}

.sf-menu ul ul:before {
  display: none;
}

.sf-menu > li > .sf-with-ul {
  position: relative;
}
.sf-menu > li > .sf-with-ul:before {
  position: absolute;
  left: 50%;
  top: 75%;
  margin-left: -6px;
  /*content: $fa-caret-down;*/
  font: 400 15px/15px "FontAwesome";
}

.sf-menu > li > ul > li > .sf-with-ul {
  position: relative;
}
.sf-menu > li > ul > li > .sf-with-ul:before {
  position: absolute;
  right: 9px;
  top: -5px;
  content: "";
  font: 400 16px/50px "FontAwesome";
  color: #ffd700;
}

@media (max-width: 991px) {
  .sf-menu > li > a {
    /*font-size: 14px;*/
  }
}
@media (max-width: 767px) {
  .nav {
    padding: 5px 0;
  }

  .sf-menu {
    display: none;
  }
}
/*==================   RD Mobile Menu    =====================*/
.rd-mobilemenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999999;
  text-align: left;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.rd-mobilemenu.active {
  right: 0;
}

.rd-mobilemenu_ul {
  position: fixed;
  top: -56px;
  left: 0;
  bottom: -56px;
  width: 240px;
  padding: 132px 0 76px;
  color: #666;
  background: #FFF;
  font-size: 14px;
  line-height: 20px;
  overflow: auto;
  -webkit-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -o-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  transform: translateX(-240px);
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -moz-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.rd-mobilemenu.active .rd-mobilemenu_ul {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.rd-mobilemenu_ul a {
  display: block;
  padding: 14px 25px 16px;
}
.rd-mobilemenu_ul a.active {
  background: #f5f5f5;
  color: #2d2d2d;
}
.rd-mobilemenu_ul a:hover {
  background: #777;
  color: #FFF;
}
.rd-mobilemenu_ul a .rd-submenu-toggle {
  position: absolute;
  top: 50%;
  right: 11px;
  margin-top: -17.5px;
  width: 32px;
  height: 32px;
  font: 400 10px "FontAwesome";
  line-height: 32px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1);
}
.rd-mobilemenu_ul a .rd-submenu-toggle:after {
  content: '\f078';
}
.rd-mobilemenu_ul a .rd-submenu-toggle:hover {
  background: #FFF;
  color: #666;
}
.rd-mobilemenu_ul a.rd-with-ul {
  position: relative;
}
.rd-mobilemenu_ul a.rd-with-ul.active .rd-submenu-toggle {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rd-mobilemenu_ul ul a {
  padding-left: 40px;
}
.rd-mobilemenu_ul ul ul a {
  padding-left: 60px;
}
.rd-mobilemenu_ul:after {
  content: '';
  display: block;
  height: 20px;
}

.rd-mobilepanel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background: #FFF;
  color: #000;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 99999991;
}

.rd-mobilepanel_title {
  position: fixed;
  top: 4px;
  left: 56px;
  right: 56px;
  color: #000;
  font-size: 24px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rd-mobilepanel_toggle {
  position: fixed;
  top: 4px;
  left: 8px;
  width: 48px;
  height: 48px;
}
.rd-mobilepanel_toggle span {
  position: relative;
  display: block;
  margin: auto;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after {
  top: 8px;
}
.rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span {
  width: 24px;
  height: 4px;
  background-color: #000;
  backface-visibility: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.rd-mobilepanel_toggle span {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
  -moz-transform-origin: 1.71429px center;
  -ms-transform-origin: 1.71429px center;
  -o-transform-origin: 1.71429px center;
  -webkit-transform-origin: 1.71429px center;
  transform-origin: 1.71429px center;
  -moz-transform-origin: 1.71429px center;
  -ms-transform-origin: 1.71429px center;
  -o-transform-origin: 1.71429px center;
  -webkit-transform-origin: 1.71429px center;
  transform-origin: 1.71429px center;
}
.rd-mobilepanel_toggle.active span {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.rd-mobilepanel_toggle.active span:before, .rd-mobilepanel_toggle.active span:after {
  top: 0;
  width: 15px;
}
.rd-mobilepanel_toggle.active span:before {
  -webkit-transform: rotate3d(0, 0, 1, -40deg);
  transform: rotate3d(0, 0, 1, -40deg);
}
.rd-mobilepanel_toggle.active span:after {
  -webkit-transform: rotate3d(0, 0, 1, 40deg);
  transform: rotate3d(0, 0, 1, 40deg);
}

@media (max-width: 767px) {
  body {
    padding-top: 56px;
  }

  .rd-mobilemenu, .rd-mobilepanel {
    display: block;
  }
}
@media (max-width: 359px) {
  .rd-mobilepanel_title {
    font-size: 18px;
  }
}
/*==================  Stuck menu  ======================*/
.isStuck {
  background: #ffd700;
  z-index: 999;
}
.isStuck .nav {
  margin-top: 0;
}
.isStuck .brand {
  margin-top: 0;
}

@media only screen and (max-width: 979px) {
  .isStuck {
    display: none !important;
  }
}
/*==================     ToTop     ======================*/
.toTop {
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 46px;
  color: #fff;
  background: #000;
  border-radius: 50%;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 20;
}
.toTop:hover {
  color: #fff;
  background: #ffd700;
  text-decoration: none;
}

.mobile .toTop,
.tablet .toTop {
  display: none !important;
}

/*==================  RD Parallax    ======================*/
.parallax {
  position: relative;
  overflow: hidden;
}
.parallax_image, .parallax_pattern {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-position: center center;
  will-change: transform;
}
.parallax_image {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.parallax_pattern {
  background-repeat: repeat;
}
.parallax_cnt {
  position: relative;
}

.thumbnail {
  border: none;
  padding: 0;
  border-right: 0;
  background-color: transparent;
  border-radius: 0;
}
.thumbnail img {
  max-width: 100%;
  height: auto;
}
.thumbnail * + .caption {
  margin-top: 16px;
  padding-bottom: 13px;
}
.thumbnail .thumbnail_img {
  position: relative;
  cursor: pointer;
}
.thumbnail .thumbnail_img .overlay {
  position: absolute;
  opacity: 0;
  text-align: center;
  padding: 18px 0 19px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffd700;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.lt-ie9 .thumbnail .thumbnail_img .overlay {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.thumbnail .thumbnail_img .overlay h2 {
  color: #000;
}
.thumbnail .thumbnail_img .overlay:hover {
  background: #000;
}
.thumbnail .thumbnail_img .overlay:hover h2 {
  color: #ffd700;
}
.thumbnail .thumbnail_img:hover .overlay {
  bottom: -1px;
  opacity: 1;
}
.lt-ie9 .thumbnail .thumbnail_img:hover .overlay {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=100);
}
.thumbnail p a {
  color: #221d00;
}
.thumbnail p a .glyphicon:before {
  font-size: 16px;
  line-height: 20px;
}
.thumbnail p a:hover:before {
  padding-left: 2px;
  color: #ffd700;
}
.thumbnail > img,
.thumbnail a > img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .thumbnail {
    width: 100%;
    margin: 0 auto;
  }
  .thumbnail img {
    width: 100%;
  }
  .thumbnail .thumbnail_img {
    width: 100%;
    text-align: center;
  }
  .thumbnail .thumbnail_img img {
    width: 100%;
  }
}
/*================   Thumbnail-box  ======================*/
.thumbnail_wrap {
  width: 100%;
}
.thumbnail_wrap .thumbnail_box {
  position: relative;
  overflow: hidden;
  float: left;
  width: 25%;
}
.thumbnail_wrap .thumbnail_box img {
  width: 100%;
  height: auto;
}
.thumbnail_wrap .thumbnail_box .thumbnail_box_img {
  position: relative;
}
.thumbnail_wrap .thumbnail_box .thumbnail_box_img .overlay {
  transition: all 0.5s ease 0s;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.thumbnail_wrap .thumbnail_box .thumbnail_box_cnt {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -moz-transform: translateY(-16%);
  -ms-transform: translateY(-16%);
  -o-transform: translateY(-16%);
  -webkit-transform: translateY(-16%);
  transform: translateY(-16%);
  padding: 0 30px;
  text-align: center;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.thumbnail_wrap .thumbnail_box .thumbnail_box_cnt h5 {
  line-height: 25px;
  color: #ffd700;
}
.thumbnail_wrap .thumbnail_box .thumbnail_box_cnt p {
  color: #fff;
}
@media (max-width: 1199px) {
  .thumbnail_wrap .thumbnail_box .thumbnail_box_cnt p {
    display: none;
  }
}
.thumbnail_wrap .thumbnail_box .thumbnail_box_cnt p, .thumbnail_wrap .thumbnail_box .thumbnail_box_cnt .btn {
  opacity: 0;
}
.lt-ie9 .thumbnail_wrap .thumbnail_box .thumbnail_box_cnt p, .lt-ie9 .thumbnail_wrap .thumbnail_box .thumbnail_box_cnt .btn {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.thumbnail_wrap .thumbnail_box .thumbnail_box_cnt .btn {
  margin-top: 8px;
}
.thumbnail_wrap .thumbnail_box:hover p, .thumbnail_wrap .thumbnail_box:hover .btn {
  opacity: 1;
}
.lt-ie9 .thumbnail_wrap .thumbnail_box:hover p, .lt-ie9 .thumbnail_wrap .thumbnail_box:hover .btn {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=100);
}
.thumbnail_wrap .thumbnail_box:hover .overlay {
  background: rgba(0, 0, 0, 0.2);
}
.thumbnail_wrap .thumbnail_box:hover .thumbnail_box_cnt {
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 1460px) {
  .thumbnail_wrap .thumbnail_box .thumbnail_box_cnt h5 {
    font-size: 13px;
    line-height: 17px;
  }
  .thumbnail_wrap .thumbnail_box .thumbnail_box_cnt p {
    font-size: 11px;
    line-height: 14px;
    display: none;
  }
  .thumbnail_wrap .thumbnail_box .thumbnail_box_cnt .btn {
    padding: 3px 10px 2px 10px;
    margin-top: 12px;
    font-size: 10px;
    line-height: 20px;
  }
}
@media (max-width: 1060px) and (min-width: 768px) {
  .thumbnail_wrap .thumbnail_box .thumbnail_box_cnt h5 {
    font-size: 10px;
    line-height: 11px;
  }
  .thumbnail_wrap .thumbnail_box .thumbnail_box_cnt p {
    font-size: 7px;
    line-height: 8px;
  }
  .thumbnail_wrap .thumbnail_box .thumbnail_box_cnt .btn {
    padding: 1px 8px 1px 8px;
    /*margin-top: 2px;*/
  }
}
@media (max-width: 767px) {
  .thumbnail_wrap .thumbnail_box .thumbnail_box_cnt h5 {
    font-size: 13px;
    line-height: 15px;
  }
  .thumbnail_wrap .thumbnail_box .thumbnail_box_cnt p {
    font-size: 10px;
    line-height: 12px;
  }
  .thumbnail_wrap .thumbnail_box .thumbnail_box_cnt .btn {
    padding: 2px 8px 2px 8px;
    /*margin-top: 3px;*/
  }
}
@media (max-width: 767px) {
  .thumbnail_wrap .thumbnail_box {
    float: none;
    width: 100%;
    margin: 0 auto;
  }
  .thumbnail_wrap .thumbnail_box .thumbnail_box_img {
    width: 100%;
    text-align: center;
  }
  .thumbnail_wrap .thumbnail_box .thumbnail_box_img img {
    width: 100%;
  }
}
/*==================   Thumbnail    ======================*/
.thumb {
  display: block;
  position: relative;
  overflow: hidden;
}
.thumb img {
  width: 100%;
  height: auto;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.thumb_overlay {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  top: 79%;
  background: #ffd700;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #fff;
}
.thumb span {
  font-size: 20px;
  display: inline-block;
  padding-top: 6%;
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
}
@media (max-width: 991px) and (min-width: 767px) {
  .thumb span {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
  }
}
.thumb:hover .thumb_overlay {
  opacity: 1;
  background: #000;
  color: #ffd700;
}
.lt-ie9 .thumb:hover .thumb_overlay {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=100);
}
.lt-ie9 .thumb:hover .thumb_overlay:before {
  display: block;
}
.thumb:hover img {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/*========================================================
					 HEADER  Section
=========================================================*/
header {
  background: #ffd700;
}
header .brand {
  float: left;
  margin-top: 13px;
}
header .nav {
  float: right;
  margin-top: 9px;
}
@media (max-width: 991px) {
  header {
    text-align: center;
  }
  header .brand {
    float: none;
    text-align: left;
  }
  header .nav {
    float: none;
  }
}
@media (max-width: 767px) {
  header {
    text-align: center;
  }
  header .brand, header .nav {
    margin-top: 20px;
    float: none;
  }
}

/*========================================================
					 CONTENT  Section
=========================================================*/
main {
  display: block;
  background: #fff;
}

/*==================      Well     ======================*/
.well {
  padding-bottom: 33px;
  padding-top: 51px;
}

.well2 {
  padding-top: 39px;
  padding-bottom: 33px;
}

.well2_2 {
  padding-top: 39px;
  padding-bottom: 49px;
}

.well2_3 {
  padding-top: 42px;
  padding-bottom: 31px;
}

.well3 {
  padding-top: 39px;
  padding-bottom: 0px;
}

.well4 {
  padding-top: 39px;
  padding-bottom: 50px;
}

.well4_2 {
  padding-top: 43px;
  padding-bottom: 50px;
}

.well5 {
  padding-bottom: 78px;
  padding-top: 44px;
}

.well6 {
  padding-top: 44px;
  padding-bottom: 87px;
}

.well7 {
  padding-top: 42px;
  padding-bottom: 47px;
}

.well8 {
  padding-bottom: 64px;
}

.well9 {
  padding-top: 39px;
  padding-bottom: 100px;
}

.well-footer {
  padding-top: 0;
  padding-bottom: 35px;
}

.well10 {
  padding-top: 39px;
  padding-bottom: 15px;
}

.well10_2 {
  padding-top: 43px;
  padding-bottom: 15px;
}

/*========================================================
					 FOOTER  Styles
=========================================================*/
footer {
  background: #191919;
  background: #191919;
  padding-top: 10px;
  padding-bottom: 55px;
}

.bg-primary {
  background-color: #fff;
}
.bg-primary h1, .bg-primary h2 {
  color: #000;
  font-weight: 800;
}
.bg-primary time, .bg-primary cite {
  color: #000;
}
.bg-primary p {
  color: #777;
}
.bg-primary a[href^="callto:"] {
  color: #777;
}
.bg-primary a[href^="callto:"]:hover {
  color: #000;
  text-decoration: underline;
}
.bg-primary a[href^="mailto:"] {
  color: #000;
}
.bg-primary a[href^="mailto:"]:hover {
  color: #ffd700;
}

.bg-secondary {
  background-color: #f2f2f2;
}
.bg-secondary h1, .bg-secondary h2, .bg-secondary h3, .bg-secondary h4, .bg-secondary h5, .bg-secondary h6 {
  color: #000;
}
.bg-secondary h3, .bg-secondary p, .bg-secondary a, .bg-secondary blockquote, .bg-secondary q, .bg-secondary dt, .bg-secondary dd {
  color: #000;
}
.bg-secondary .p__mod {
  color: #777;
}

.bg-alt {
  background: #191919;
}
.bg-alt h5, .bg-alt h2 {
  color: #fff;
}
.bg-alt time, .bg-alt a {
  color: #ffd700;
  display: inline-block;
}
.bg-alt a:hover {
  color: #fff;
}
.bg-alt .marked-list li a {
  color: #ffd700;
}
.bg-alt .marked-list li a:hover {
  color: #fff;
}
.bg-alt a[href^="callto:"] {
  color: #fff;
}
.bg-alt a[href^="callto:"]:hover {
  text-decoration: underline;
}
.bg-alt p {
  color: #888888;
}
.bg-alt .btn {
  color: #000;
}
.bg-alt .btn:hover {
  color: #fff;
}

.icon1 {
  margin-left: 5px;
  display: inline-block;
  margin-top: 1px;
  font-size: 17px;
  color: #000;
}
.icon1:hover {
  color: #ffd700;
  text-decoration: none !important;
}
.icon1:hover:before {
  padding: 0 !important;
}

.gall_section1 {
  overflow: hidden;
}

.map_model p, .map_model p span {
  color: #000;
}

@media (max-width: 360px) {
  .address.address__mod {
    font-size: 11px;
  }
}
